*{
	box-sizing: border-box;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
html{
	height: 100%;
}
body{
	height: 100%;
	background:#ebebeb;
}
a{
	color:#007bff;
	text-decoration:none;
	font-weight: bold;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
}
a:hover{
	color:#0056b3;
	text-decoration:underline;
}
h1{
	text-align: center;
}
main{
	margin:0 auto;
	padding: 1em 2em;
	max-width: 1200px;
}
ul li{
	padding:0.3rem;
}
nav{
	width: 100%;
	height: 60px;
	background-color: #c8c8c8;
	text-align: center;
	font-size: 46px;
}

.container{
  width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#overview{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
div:has(.preview-card){
	position: relative;
}
.preview-card{
	display: inline-block;
	width: 10em;
	height: 20em;
	margin: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	text-align: center;
}
.preview-info{
	position: absolute;
	bottom: 20px;
	left: 15px;
	text-align: center;
	width: 10em;
}
.leaflet-container {
height: 60em;
width: 100%;
max-width: 100%;
max-height: 100%;
border: 2px solid #5e5e5e;
background: white;
}
.leaflet-container:hover{
	cursor: crosshair;
}
.leaflet-control-attribution {
	display: none;
}
#metainfo {
	width: 100%;
}
td, th{
	border: 2px solid #5e5e5e;
}
td:first-child{
	width: 35%;
}

#fragment_viewer {
	max-width: 90vw;
	height: 90vh;
	overflow: scroll;
	position: relative;
}

		#fragment {
	position: relative;
	top: 0;
	left: 0;
}

.marker {
	position: absolute;
	color: greenyellow;
	font-weight: bold;
	pointer-events: none;
	white-space: nowrap;
}
.comment {
	text-shadow: 0 0 5px black;
	font-size: 3rem;
	position: relative;
	left: -25px;
	top: -10px;
}